<header>
    <div class="header-content">
        <div class="logo">CodeChallenge Hub</div>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="/admin/usersList">Users</a></li>
                <li><a href="/admin/challenges">Challenges</a></li>
                <li><a href="/admin/approval">Approval</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </nav>
    </div>
</header>