<footer>
      <div class="container footer-content">
        <div class="footer-logo">name.random</div>
        <div class="footer-links">
          <a href="#">Do</a>
          <a href="#">Not</a>
          <a href="#">Give</a>
          <a href="#">Up</a>
        </div>
      </div>
    </footer>